{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Some big heading" %}</h1>
    <p>
        {% blocktrans %}
        to add description and <a href="http://djangoproject.com/">link</a>
        {% endblocktrans %}
    </p>
    
    <h2>More not so big heading</h2>
    <p>
        {% blocktrans %}
        to add more descriptions
        {% endblocktrans %}
    </p>
    
    <p><a href="http://pinaxproject.com/" class="btn primary large">{% trans "Learn more &raquo;" %}</a></p>
{% endblock %}

{% block column-1 %}
    <h2>Heading 1</h2>
    <p>to add details</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block column-2 %}
    <h2>Heading 2</h2>
    <p>to add details</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block column-3 %}
    <h2>Heading 3</h2>
    <p>to add details</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block column-4 %}
    <h2>Heading 4</h2>
    <p>to add details</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

